<main>
    <div class="bloque-information">
        <div class="content-information">
            <div class="slick-wrapper">
                <div class="slider" #slickElement>
                    <div class="slide-item" *ngFor="let programa of programas">
                        <div class="programa-formativo" routerLink="ProyectoFormativo">
                            <div class="fichas">
                                <div>
                                    <h4>6</h4>
                                </div>
                                <span>Fichas ativas</span>
                            </div>
                            <div class="desc">
                                <div>
                                    <h4 #Programa>{{programa.nombrePrograma}}</h4>
                                </div>
                                <div><span>{{programa.descripcionPrograma}}</span></div>
                            </div>
                        </div>
                        <div class="check">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-añadir">
                <a><button>Añadir</button></a>
            </div>
        </div>
    </div>
</main>